name: Java CI without Maven

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Compile Java code
      run: javac -d target src/main*.java

    - name: Run tests
      run: java -cp target src/MySetTests/AllTests*.java

    - name: Clean up
      run: rm -rf target
